<form method="post" action="{{ path('app_emailrelance', {'id': enfant.id}) }}" onsubmit="return confirm('êtes vous sûr de vouloir envoyer un mail de relance ?');">
    <button class="btn btn-primary">relancer</button>
</form>