{% extends 'base.html.twig' %}

{% block title %}Nouvelle Reservation{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Reservation</h1>

    {{ include('reservation/_form.html.twig') }}

 <a <button type="button" class="btn btn-info" href="{{ path('app_reservation_index') }}">Retour en arrière</button> </a>
{% endblock %}
