{% extends 'base.html.twig' %}

{% block title %}Modifier le Matériel{% endblock %}

{% block body %}
    <h1>Modifier le Matériel</h1>

    {{ include('materiel/_form.html.twig', {'button_label': 'sauvegarder'}) }}

    <a <button type="button" class="btn btn-info" href="{{ path('app_reservation_index') }}">Retour en arrière</button> </a>

    {{ include('materiel/_delete_form.html.twig') }}
{% endblock %}
