{% extends 'base.html.twig' %}

{% block title %}Nouveau Materiel{% endblock %}

{% block body %}
    <h1>Nouveau Materiel</h1>

    {{ include('materiel/_form.html.twig') }}

 <a <button type="button" class="btn btn-info" href="{{ path('app_reservation_index') }}">Retour en arrière</button> </a>
{% endblock %}
